{{>baseV/header}}
            <v-row align="center">
                <v-col class="d-flex" cols="6">
                    <v-select :items="choices" v-model="type" label="rechercher par ...">
                    </v-select>
                </v-col>
                <v-col class="d-flex" cols="6">
                    <v-text-field v-model="search" placeholder="search ..."></v-text-field>
                </v-col>
            </v-row>
            <template>
                <v-data-table
                        :headers="headers"
                        :items="scripts"
                        class="elevation-1"
                >
                    <template v-slot:items="scripts">
                        <td><?scripts.name?></td>
                        <td class="text-xs-right"><?scripts.category.name?></td>
                        <td class="text-xs-right"><?scripts.language.name?></td>
                    </template>
                </v-data-table>
            </template>
{{>baseV/footer}}
{{{vue}}}