{{>base/header}}
<form class="ui form">
    <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
    </div>
    <div class="field">
        <label>Description</label>
        <textarea type="text" name="description" placeholder="You'r description ..."></textarea>
    </div>
    <div class="field">
        <label>Content</label>
        <textarea name="content"></textarea>
    </div>
    <div class="field">
        <label>Creation date</label>
        <input type="date" name="creationDate">
    </div>
    <button class="ui button" type="submit">Add</button>
</form>
{{>base/footer}}